name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  detekt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup reviewdog
        uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f
        with:
          reviewdog_version: latest
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Detekt
        run: ./gradlew detekt
      - name: reviewdog report
        if: failure()
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cat ./build/reports/detekt/detekt.xml |
          reviewdog -f=checkstyle -name="detekt" -reporter="github-pr-review"
  build:
    needs: detekt
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v5
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build
      run: ./gradlew assemble
    - name: Execute Unit-tests
      run: ./gradlew test

    - name: Generate Coverage Report
      run: ./gradlew tlv:jacocoTestReport

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v6
      with:
        name: jacoco-report
        path: tlv/build/reports/jacoco/test/html/
        retention-days: 1

    - name: Comment Coverage on PR
      if: github.event_name == 'pull_request'
      uses: Madrapps/jacoco-report@v1.7.1
      with:
        paths: tlv/build/reports/jacoco/test/jacocoTestReport.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 40
        min-coverage-changed-files: 40
